<noscript>
<style type="text/css">
#send{display:none;}
</style>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>
</noscript>

<div class="marker_browser">
Sorry your browser is not supported. Please use Chrome >= 11, Safari >= 3.1, Firefox >= 21, Opera >= 15 or IE >= 11!
</div>

<div>

<div class="pure-u-1 form-box">
    <div class="l-box">
		
		<%= form_for @message, :html => { :class => "pure-form pure-form-stacked"  } do |f| %>

		
		<h2>To: <%= @to %> <%= image_tag "lock.png", :width => 15 %></h2>


		<fieldset>
		<%= f.text_area :body_input, :cols => 100, :rows => 10, :placeholder => "Message", :focus => true, "data-validation-length".to_sym => "min1" %>
		<br>
		<%= f.text_field :from, :placeholder => "Your Email", :size => 100, :focus => false, "data-validation".to_sym => "email" %>
		<%= f.hidden_field :to, :value => @to %>
		<%= f.hidden_field :body %>
		<br>
		<table>
			<tr>
				<td>
					<button id="send" class="pure-button pure-button-primary">Send</button>
					<button id="encrypt" type="button" class="pure-button pure-button-primary">Encrypt</button>
				</td>
				<td>
					&nbsp;&nbsp;&nbsp;<input id="advanced" type="checkbox" value=""> Advanced mode
				</td>
			</tr>
		</table>
		<br>
		<h3 class="hidden">OpenPGP Public Key</h3>
		<textarea cols="100" id="pubkey" rows="20" disabled="disabled"><%= @pubkey %></textarea>
		<br>
		<h3 class="hidden">Validate OpenPGP Public Key</h3>
		<textarea cols="100" id="check-pubkey" rows="20" disabled="disabled">Please click on the Encrypt button to see the public key validation.</textarea>
		<br>
		<h3 class="hidden">Validate OpenPGP Message</h3>
		<textarea cols="100" id="check-message" rows="20" disabled="disabled">Please click on the Encrypt button to see the message validation.</textarea>
				
		</fieldset>

		<% end %>
		
    </div>
</div>

</div>
