<noscript>
<style type="text/css">
#send{display:none;}
</style>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>
</noscript>

<div class="marker_browser">
Sorry your browser is not supported. Please use Chrome >= 11, Safari >= 3.1, Firefox >= 21, Opera >= 15 or IE >= 11!
</div>

<div>

<div class="pure-u-1 form-box">
    <div class="l-box">
		
		<%= form_for @message, :html => { :class => "pure-form pure-form-aligned"  } do |f| %>

		<h2>To:&nbsp;<%= receiver(@to, f) %></h2>
		<div style="text-align:left;padding:0px 0 10px 0;"><%= link_to "Public key: #{@keyids.first}", "http://pgpkey.org/pks/lookup?op=vindex&search=#{@keyids.first}&fingerprint=on", :id => "fingerprint" %></div>
		<fieldset>
			<div class="pure-control-group">
				<%= f.text_area :body_input, :rows => 10, :placeholder => "Message", :focus => true, "data-validation-length".to_sym => "min1", :style=>"width: 100%" %>
			</div>
			<br />
			<div class="pure-control-group">
				<%= f.text_field :from, :placeholder => "Your Email", :focus => false, "data-validation".to_sym => "email", :style=>"width: 50%" %>
		
			</div>
			<%= f.hidden_field :to, :value => @to.is_a?(Array) ? @to[0] : @to %>
			<%= f.hidden_field :body %>
			<%= f.hidden_field :file %>
			<%= f.hidden_field :filename %>
		<br />
		<h3>Attachment max. 1 mb (beta feature)</h3><input type="file" id="message_file_input" />
		<div id="encrypting" style="display:none;">Encrypting...</div>
		<a id="remove" href="#" style="display:none;">remove</a>
		<br /><br />
		<table>
			<tr>
				<td>
					<button id="send" class="pure-button pure-button-primary">Encrypt & Send</button>
					<button id="encrypt" type="button" class="pure-button pure-button-primary">Encrypt</button>
				</td>
				<td>
					&nbsp;&nbsp;&nbsp;<input id="advanced" type="checkbox" value=""> Advanced mode
				</td>
			</tr>
		</table>
		<br />
		<% if @keyids.size > 1 %>
		<h3 class="hidden">Change Public Key</h3>
		<div id="change-pubkey"><%= keyid(@keyids, f) if @keyids %></div>
		<br />
		<% end %>
		<h3 class="hidden">OpenPGP Public Key</h3>
		<textarea style="width: 100%" id="pubkey" rows="20" disabled="disabled"><%= @pubkey %></textarea>
		<br />
		<h3 class="hidden">Validate OpenPGP Public Key</h3>
		<textarea style="width: 100%" id="check-pubkey" rows="20" disabled="disabled">Please click on the Encrypt button to see the public key validation.</textarea>
		<br />
		<h3 class="hidden">Validate OpenPGP Message</h3>
		<textarea style="width: 100%" id="check-message" rows="20" disabled="disabled">Please click on the Encrypt button to see the message validation.</textarea>
		
		</fieldset>

		<% end %>
		
    </div>
</div>

</div>
