<noscript>
<style type="text/css">
#send{display:none;}
</style>
<div class="marker_success">
<%= t (".js_error") %>
</div>
</noscript>
<input id="valid_mail" type="hidden" value="<%= t ".valid_mail" %>">
<input id="sending" type="hidden" value="<%= t ".sending" %>">
<input id="send_button" type="hidden" value="<%= t (".send") %>">
<% if @user && !(@user.css_form_background == "EBF1F4" and @user.css_form_color == "777777") %>
<style type="text/css">
body {
	background: #<%= @user.css_form_background %>;
}
a, h2, h3, table, input[type=file] {
 	color: #<%= @user.css_form_color %>;
}

.pure-form input[type=text], .pure-form textarea  {
	border-color: #<%= @user.css_form_color %>;
}

.pure-form input[type=text]:focus, .pure-form textarea:focus {
	border-color: #<%= @user.css_form_color %>;
}
.pure-button-primary, .pure-button-selected {
	background-color: #<%= @user.css_form_color %>;
	color: #<%= @user.css_form_background %>;
}		
</style>
<% end %>

<div class="marker_browser">
<%= t (".browser_support") %>
</div>

<div>

<div class="pure-u-1 form-box">
    <div class="l-box">
		
		<%= form_for @message, :html => { :class => "pure-form pure-form-aligned" } do |f| %>

		<h2><%= t ".to" %>:&nbsp;<%= receiver(@to, f) %></h2>
		<div style="text-align:left;padding:0px 0 10px 0;"><%= link_to t(".public_key") + ": #{@keyids.first}", "http://ha.pool.sks-keyservers.net/pks/lookup?op=vindex&search=#{@keyids.first}&fingerprint=on", :id => "fingerprint" if @keyids %></div>
		<fieldset>
			<div class="pure-control-group">
				<%= f.text_area :body_input, :rows => 10, :placeholder => t(".message"), :focus => true, :style=>"width: 100%" %>
			</div>
			<br />
			<div class="pure-control-group">
				<%= f.text_field :from, :placeholder => t(".your_mail"), :focus => false, :style=>"width: 50%" %>
			</div>
			<%= f.hidden_field :to, :value => @to.is_a?(Array) ? @to[0] : @to %>
			<%= f.hidden_field :body %>
			<%= f.hidden_field :file %>
			<%= f.hidden_field :filename %>
		<br />
		<% if (@user && @user.form_attachment) %>
		<h3><%= t ".attachment" %></h3><input type="file" id="message_file_input" />
		<div id="encrypting" style="display:none;"><%= t ".encrypting" %></div>
		<a id="remove" href="#" style="display:none;"><%= t ".remove" %></a>
		<br /><br />
    <% end %>
		<table>
			<tr>
				<td>
					<div id="send" class="pure-button pure-button-primary"><%= t ".encrypt_send" %></div>
					<div id="encrypt" type="button" class="pure-button pure-button-primary"><%= t ".encrypt" %></div>
				</td>
				<td>
					<% if (@user && @user.form_advanced_mode) or @user.nil? %>
						&nbsp;&nbsp;&nbsp;<input id="advanced" type="checkbox" value=""> <%= t ".advanced_mode" %>
					<% end %>
				</td>
			</tr>
		</table>
		<br />
    <div id="advanced_mode">
		<% if @keyids && @keyids.size > 1 %>
		<h3><%= t ".change_key" %></h3>
		<div id="change-pubkey"><%= keyid(@keyids, f) if @keyids %></div>
		<br />
		<% end %>
		<h3><%= t ".public_key" %></h3>
		<textarea style="width: 100%" id="pubkey" rows="20" disabled="disabled"><%= @pubkey %></textarea>
		<br />
		<h3><%= t ".validate_public_key" %></h3>
		<textarea style="width: 100%" id="check-pubkey" rows="20" disabled="disabled"><%= t ".please_click" %></textarea>
		<br />
		<h3><%= t ".validate_message" %></h3>
		<textarea style="width: 100%" id="check-message" rows="20" disabled="disabled"><%= t ".please_click" %></textarea>
    </div>
		
		</fieldset>

		<% end %>
		
    </div>
</div>

</div>
