<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => APP_CONFIG['stripe_public_key'] %>
<% end %>

<div class="l-content">

    <div class="information pure-g">
        <div class="pure-u-1-2">
            <div class="l-box">
  

          <h2>Account</h2>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "pure-form pure-form-stacked" }) do |f| %>
            <%= devise_error_messages! %>

            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            <% end %>

            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, :autocomplete => "off" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>

            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password %>
            <br>
            <%= f.submit "Update", :class=>"pure-button pure-button-primary" %>
          <% end %>

                    </div>
                </div>

                <div class="pure-u-1-2">
                    <div class="l-box">
                      
                      <h3>Cancel my account</h3>

                      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class=>"pure-button pure-button-error" %></p>

                    </div>
                </div>

            </div> <!-- end information -->
        </div> <!-- end l-content -->

