<noscript>
<style type="text/css">
#send{display:none;}
</style>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>
</noscript>

<style>
body {background-color: white;}

</style>

<div class="marker_browser">
Sorry your browser is not supported. Please use Chrome >= 37, Firefox >= 34, Opera >= 24, Safari >= 7.1!
</div>

<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => APP_CONFIG['stripe_public_key'] %>
<% end %>

<div id="stripe_error" class="alert alert-error" style="display:none" ></div>

<div class="l-content">
    <div class="information pure-g">
        <div class="pure-u-1-2">
            <div class="l-box">  

							<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "pure-form pure-form-stacked card_form"  }) do |f| %>
				  		<%= devise_error_messages! %>
              <% if resource.errors.any? %>
              <%= f.hidden_field :plan %>
              <% else %>
              <%= f.hidden_field :plan, value: params[:plan].blank? ? "pro11" : params[:plan] %>
              <% end %>
              
							<legend>Sign up</legend>

							<fieldset>

				        <%= f.label :username %>
								<%= f.text_field :username, :autofocus => true %>
								<div style="font-size: 13px;">https://encrypt.to/<span class="check_username">username</span></div>
				
								<br />
				
								<%= f.label :email %>
					  		<%= f.email_field :email %>
			
					  		<%= f.label :password %>
					  		<%= f.password_field :password %>
			
								<%= f.label :password_confirmation %>
					  		<%= f.password_field :password_confirmation %>
			
								<%= f.label :public_key %>
					  		<%= f.text_area :public_key, :rows => 10, :cols => 55 %>
<br />

  <% if @user.stripe_token %>
    <p>Credit card acceptance is pending.</p>
  <% else %>
  
	<div class="pure-g">
	    <div class="pure-u-1-2"><p>
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil, size: '30', placeholder: '1111 2222 3333 4444' %>
			<%= image_tag "/assets/cards.png", style: "padding: 0px 0px 15px 0px;" %>
			</p></div>
	    <div class="pure-u-1-2"><p>
      <%= label_tag :card_code, "Card Security Code (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil, size: '15', placeholder: '123' %>
			</p></div>
	</div>
	
	<%= label_tag :card_month, "Card Expiration" %>
						<table border="0">
							<tr>
								<td><%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: 'input-medium'}  %></td>
								<td><%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", class: 'input-small'} %></td>
							</tr>
						</table>
						
					
					

    
			<% end %>
  <%= f.hidden_field :stripe_token %>
	
			
								<p class="alert" style="display:none;" id="invalid"></p>
								<p class="notice" style="display:none;" id="valid"></p>

								<p>You won't be billed unless you keep your account open past your 7-days free trail. By clicking on "Create an account" below, you are agreeing to the <a href="/terms">Terms of Service</a> and the <a href="/privacy">Privacy Policy</a>.</p>
				
								<%= f.submit "Create an account", :class => "pure-button pure-button-primary", :id => "submit_button" %>
			
							</fieldset>
		
							<% end %>

							<br />

							<%= render "devise/shared/links" %>

                    </div>
                </div>

                <div class="pure-u-1-2">
                    <div class="l-box">
                      
											<br />
											<br />
																						
											<h3><span class="marker_success">Why should I sign up?</span></h3>
											
											<ul style="list-style: inherit;">
												<li>Get unique link encrypt.to/<span class="check_username">username</span>.</li>
												<li>Your public key will be private at our non-public key server.</li>
                        <li>Send PGP messages with attachments.</li>
												<li>Customize the secure contact form in layout and colors.</li>
											</ul>

											<h3>How do I get a public key?</h3>

											<p>There are many tools like <a href="https://gpgtools.org/">GPGTools</a> for Mac, <a href="https://projects.gnome.org/seahorse/index.html">Seahorse</a> for Linux or <a href="http://www.gpg4win.org/">Gpg4win</a> for Windows.</p>
											
											<p style="font-size:small;">
											 * I don't know what you talkin 'bout. <a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">Read how PGP works.</a>
											</p>
											
                      <h3>Secure payment</h3>
										
											<div><%= image_tag "/assets/rapidssl.png", width: '219px' %><%= image_tag "/assets/ssl-aplus.png", :width => 120 %>
												<br/>
												<p>Your credit card data is not transmitted through nor stored on our systems.<br />We depend on Stripe:</p>
												<ul style="list-style: inherit;">
													<li>Certified PCI Service Provider Level 1</li>
													<li>A+ SSL Report Overall Rating</li>
													<li>SSL 256-Bit Encryption</li>
												</ul>
											</div>
                      
                      <h3>Or pay with bitcoin</h3>
                      
                    	<p><%= image_tag "/assets/bitcoin.png", width: '150px' %><br> Wanna pay with bitcoin? No problem. Please <a href="/hello@encrypt.to">contact us!</a></p>
	

                    </div>
                </div>

            </div> <!-- end information -->
        </div> <!-- end l-content -->


<div id="keyvalid"></div>





			