<noscript>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>
</noscript>

<div class="hero">
    <div class="hero-titles">
        <p><h1>Encrypt.to</h1><i>beta version</i></p>
				
        <h2>Send Encrypted Messages to 3.5 million PGP users by one click.</h2>
		</div>

    <div class="hero-cta">
      	
				<p>
		    	<a class="pure-button pure-button-cta" href="/hello@encrypt.to">Try now</a>
		    </p>
				
    </div>
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
					
            <h2><span class="marker_success">No signup needed</span> if your public key is stored on a public key server!</h2>						
				
			<p>Open the link: <span class="marker_email">https://encrypt.to/{your-email}</span> or <span class="marker_email">https://encrypt.to/{your-key-id}</span></p>

			<p>For example: <a href="/hello@encrypt.to">encrypt.to/hello@encrypt.to</a> belongs to <a href="http://pgpkey.org/pks/lookup?op=get&fingerprint=on&search=0x0CAF1E5B11489A1F"> this public key</a>.</p>
			
			<p><i>* Sign up if your public key should be private!</i></p>
			
			<p>
	    	<a class="pure-button pure-button-cta" href="/users/sign_up">Sign Up</a>
				<a class="pure-button pure-button-secondary" href="/users/sign_in">Login</a>
	    </p>
			
        </div>
    </div>	
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
					
					
            <h2><span class="marker_success">Can I trust this service?</span> </h2>						
				
			<p>We take the privacy of your data very seriously. Your browser encrypts the message before handing it to us!</p>

			<p>Use the <a href="http://encrypt-to.github.io/">Security audit tool</a> to audit the deployed source code.</p>
			
			<p>We're using <a href="http://en.wikipedia.org/wiki/End-to-end_encryption">End-to-end encryption</a> with OpenPGP.js. We cannot read your message!<p>
			
			<p>* I don't know what you talkin 'bout. <a href="http://gpg4win.de/doc/en/gpg4win-compendium_8.html">Read how PGP works.</a></p>
			
        </div>
    </div>	
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Open Source.</h3>
            <p><%= image_tag "/assets/oss.png", :width => 150 %><br>Here is the <a href="https://github.com/encrypt-to/encrypt.to">source code</a>. We are using client side encryption and we can't decrypt your message.</p>

        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>OpenPGP.js</h3>
            <p><%= image_tag "/assets/openpgpjs.png", :width => 128 %><br>Encrypt.to is based on <a href="http://openpgpjs.org/">OpenPGP.js</a> a JavaScript implementation of the <a href="http://tools.ietf.org/search/rfc4880">OpenPGP standard</a>.</p>
            
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Privacy in mind.</h3>
            <p><%= image_tag "/assets/diaspora.png", :width => 128 %><br>We are running <a href="https://diasp.eu">Diaspora</a> - a decentralized social networking platform built with your privacy in mind.</p>

        </div>
    </div>
</div>

<br><br>

<div>	
    <div class="content">
        <div class="l-box">
            <h2>Browser Compatibility</h2>
            <p>We need a cryptographically secure PRNG to be implemented (i.e. the window.crypto method) based on <a href="http://www.w3.org/TR/WebCryptoAPI/">Web Cryptography API</a> <i>(W3C Working Draft 25 June 2013)</i>.</p>
            <table class="pure-table pure-table-horizontal">
              <thead>
                  <tr>
                      <th>Browser</th>
                      <th>Desktop</th>
                      <th>Mobile</th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                        <td>Chrome</td>
                        <td>>= 11</td>
                        <td>>= 23</td>
                    </tr>
                    <tr>
                        <td>Firefox</td>
                        <td>>= 21</td>
                        <td>>= 21</td>
                    </tr>
                    <tr>
                        <td>IE</td>
                        <td>>= 11</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Opera</td>
                        <td>>= 15</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Safari</td>
                        <td>>= 3.1</td>
                        <td>>= iOS 6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>	
</div>

<div>	
    <div class="content">
        <div class="l-box">

<h2>I don't have a public key.</h2>

<p>There are many tools like <a href="https://gpgtools.org/">GPGTools</a> for Mac, <a href="https://projects.gnome.org/seahorse/index.html">Seahorse</a> for Linux or <a href="http://www.gpg4win.org/">Gpg4win</a> for Windows.</p>

<p><%= image_tag "/assets/gpgtools.png", :height => 50 %><%= image_tag "/assets/seahorse.png", :height => 50 %><%= image_tag "/assets/gpg4win.png", :height => 50 %></p>

<p style="font-size:small;">
 * I don't know what you talkin 'bout. <a href="http://gpg4win.de/doc/en/gpg4win-compendium_8.html">Read how PGP works.</a>
</p>
        </div>
    </div>	
</div>


<div>	
    <div class="content">
        <div class="l-box">
            <h2>Can I host this myself?</h2>
			<p>Yes, you can. The software is available for <a href="https://github.com/encrypt-to/encrypt.to">Ruby</a>, <a href="https://github.com/encrypt-to/secure.contactform.php">PHP</a> and <a href="https://github.com/encrypt-to/secure.contactform.perl">Perl</a>.</p>	
					
        </div>
    </div>	
</div>

<div>	
    <div class="content">
        <div class="l-box">
			<p><i>© 2013 Encrypt.to&nbsp;&nbsp;&nbsp;<a href="https://diasp.eu/u/info">Diaspora</a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/encrypt_to">Twitter</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/encrypt-to">GitHub</a>&nbsp;&nbsp;&nbsp;<a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="/terms">Terms</a>&nbsp;&nbsp;&nbsp;<a href="/0x0CAF1E5B11489A1F">Contact</a></i></p>
			<h5><span class="marker_success">Privacy is a human right.</span></h5>
			
        </div>
    </div>	
</div>







