<noscript>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>
</noscript>
	


<div class="hero legal">
	
    <div class="hero-titles">

				
				<p><h1>Send encrypted PGP messages with one click</h1><br />
				<h2><i><span id="mycounter"></span> messages delivered</i></h2></p>

		</div>
		
</div>

<script>
var numAnim = new CountUp("mycounter", 0, <%= @count %>);
if (!numAnim.error) {
    numAnim.start();
} else {
    console.error(numAnim.error);
}
</script>



<div>	
    <div class="content legal">
        <div class="l-box">
					
            <h2><mark>We believe privacy is a human right.</mark> </h2>						
				
						<p><b>Add the secure contact form to your website in minutes, no coding required.</b></p>
				
			<p>It encrypts the message with PGP (client-side) and sends it on to the mail account. A user who does not use PGP can send fairly secure mails to PGP-users. A simple vanity-style URL can be given to such users for easy access to the secure contact form.</p>
			
			<p><%= image_tag "/assets/demo.gif", :width => 702 %></p>
			
        </div>
    </div>	
</div>


<div>	
    <div class="content legal">
        <div class="l-box">
					
            <h2><mark>No signup needed</mark> if the public key is stored on a public key server!</h2>						
				
			<p>Open the link: <span class="marker_email">https://encrypt.to/{email}</span> or <span class="marker_email">https://encrypt.to/{key-id}</span></p>

			<p>For example: <a href="/hello@encrypt.to">encrypt.to/hello@encrypt.to</a> belongs to <a target="_blank" href="http://pool.sks-keyservers.net/pks/lookup?op=get&fingerprint=on&search=0x0CAF1E5B11489A1F"> this public key</a>.</p>
			
			<p><h2>Encrypt.to/<input id="key" type="text" placeholder="email or key-id (0x...)"></h2></p>
	    <p>The public key will be loaded from a <a target="_blank" href="https://sks-keyservers.net/status/">public keyserver</a></p>	
      <div class="hero-cta">
      	
  				<p>
  		    	<button class="pure-button pure-button-primary" id="try">Try now</button>
  		    </p>
				
      </div>
			<p><i><a href="#signup">* Sign up if your email address and public key should be private!</a></i></p>
			
        </div>
    </div>	
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
					
					
            <h2><mark>Can I trust this service?</mark> </h2>						
				
			<p>We take the privacy of your data very seriously. Your browser encrypts the message before handing it to us! We're using <a target="_blank" href="http://en.wikipedia.org/wiki/End-to-end_encryption">End-to-end encryption</a> with OpenPGP.js. We cannot decrypt your message!<p> 
			
			<p>Use the <a target="_blank" href="http://encrypt-to.github.io/">Security audit tool</a> to audit the deployed source code.</p>
			
			<%= image_tag "/assets/ssl-report.png" %>
			
			<p>* SSL Report: <a target="_blank" href="https://www.ssllabs.com/ssltest/analyze.html?d=encrypt.to">Assessed on: Sun, 25 Mar 2018 21:31:11 UTC</a></p>
			
        </div>
    </div>	
</div>

<div class="pure-g marketing-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Open Source.</h3>
            <p><%= image_tag "/assets/oss.png", :width => 128 %><br>The <a target="_blank" href="https://github.com/encrypt-to/encrypt.to">source code</a> is licensed under MIT and available on GitHub. Available for Ruby, PHP and Perl. Simple deployment on your Webhost or Heroku.</p>

        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>OpenPGP.js</h3>
            <p><%= image_tag "/assets/openpgpjs.png", :width => 118 %><br>Encrypt.to is based on <a target="_blank" href="http://openpgpjs.org/">OpenPGP.js</a> a JavaScript implementation of the <a target="_blank" href="http://tools.ietf.org/search/rfc4880">OpenPGP standard</a>.</p>
            
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Privacy in mind.</h3>
            <p><%= image_tag "/assets/diaspora.png", :width => 128 %><br>We are running <a target="_blank" href="https://diasp.eu">Diaspora</a> - a decentralized social networking platform built with your privacy in mind.</p>

        </div>
    </div>
</div>

<br><br>

 <div>	
    <div class="content legal" id="signup">
        <div class="l-box">
					
            <h2><mark>Pricing & Signup</mark></h2>						
				
						<p>Risk free! 7-days free trial.</p>

            <table class="pure-table">
              <thead>
                  <tr>
                      <th>Pro</th>
											<th>Standard</th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                        <td><h2><mark>$11/year</mark></h2></td>
												<td><h2><mark>Free Forever</mark></h2></td>
                    </tr>
                    <tr class="pure-table-odd">
                      	<td>Send encrypted PGP messages</td>
                        <td>Send encrypted PGP messages</td>
                    </tr>
                    <tr>
                      <td>Custom link with username</td>
                      <td>Link with email or key-id</td>
                    </tr>
                    <tr class="pure-table-odd">
                      <td>25 MB attachment</td>
                      <td>No attachment</td>
                    </tr>
                    <tr>
                      <td>Hidden email address</td>
                      <td>Public email address</td>                        
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Hidden key server</td>
                        <td><a href="https://sks-keyservers.net/status/" target="_blank">Public key server</a></td>
                    </tr>                  
                    <tr>
                        <td>Manage your public key</td>
                        <td>-</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Embed form in your website</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Custom layout and colors</td>
                        <td>-</td>
                    </tr>             
                    <tr>
                        <td><a class="pure-button pure-button-cta" href="/users/sign_up">Sign Up</a></td>
												<td><a class="pure-button pure-button-disabled" href="#">No sign up needed</a></td>
                    </tr>
                </tbody>
            </table>
          	<p><%= image_tag "/assets/bitcoin.png", width: '100px' %><br>Need a custom solution? Wanna pay with bitcoin? No problem. Please <a href="/hello@encrypt.to">contact us!</a></p>
			  </div>
    </div>	
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
            <h2><mark>Browser Compatibility</mark></h2>
            <p>We need a cryptographically secure PRNG to be implemented (i.e. the window.crypto method) based on <a target="_blank" href="http://caniuse.com/#feat=cryptography">Web Cryptography API</a> <i>(W3C Candidate Recommendation 11 December 2014)</i>.</p>
            <table class="pure-table pure-table-horizontal">
              <thead>
                  <tr>
                      <th>Browser</th>
                      <th>Desktop</th>
                      <th>Mobile</th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                        <td>Chrome</td>
                        <td>>= 37</td>
                        <td>>= 64</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Firefox</td>
                        <td>>= 34</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Opera</td>
                        <td>>= 24</td>
                        <td>>= 37</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Safari</td>
                        <td>>= 7.1</td>
                        <td>>= iOS 8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>	
</div>

<div>	
    <div class="content legal">
        <div class="l-box">

<h2><mark>Where can I get a public key?</mark></h2>

<p>There are many tools like <a target="_blank" href="https://gpgtools.org/">GPGTools</a> for Mac, <a target="_blank" href="https://projects.gnome.org/seahorse/index.html">Seahorse</a> for Linux or <a target="_blank" href="http://www.gpg4win.org/">Gpg4win</a> for Windows.</p>

<p><%= image_tag "/assets/gpgtools.png", :height => 50 %><%= image_tag "/assets/seahorse.png", :height => 50 %><%= image_tag "/assets/gpg4win.png", :height => 50 %></p>

<p>Join a <a target="_blank" href="https://twitter.com/encrypt_to/lists/crypto-party">CryptoParty</a> in your neighborhood!</p>

<p><%= image_tag "/assets/cryptoparty.png", :height => 50 %></>

<p style="font-size:small;">
 * I don't know what you talkin 'bout. <a target="_blank" href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">Read how PGP works.</a>
</p>
        </div>
    </div>	
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
      <h2><mark>API v1</mark></h2>
			<p>All API access is over HTTPS and accessed from https://encrypt.to/api/v1/. All data is sent and received as JSON.</p>
			<h3>Get public key by email</h3>
			<pre>curl https://encrypt.to/api/v1/keyserver/lookup?email=hello@encrypt.to</pre>
			<pre>{"status":"success","keys":[{"key_id":"0x11489A1F","public_key":"-----BEGIN PGP PUBLIC KEY BLOCK-----"}]}</pre>
			<br />
			<h3>Get public key by key id</h3>
			<pre>curl https://encrypt.to/api/v1/keyserver/lookup?keyid=0x11489A1F</pre>			
			<pre>{"status":"success","keys":[{"key_id":"0x11489A1F","public_key":"-----BEGIN PGP PUBLIC KEY BLOCK-----"}]}</pre>  
        </div>
    </div>	
</div>

<div>	
    <div class="content">
        <div class="l-box">
			<p><i>©Encrypt.to&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/encrypt_to">Twitter</a>&nbsp;&nbsp;&nbsp;<a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="/terms">Terms</a>&nbsp;&nbsp;&nbsp;<a href="/0x0CAF1E5B11489A1F">Contact</a>&nbsp;&nbsp;&nbsp;<a href="/users/sign_in">Login</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/encrypt-to/encrypt.to">Github</a>&nbsp;&nbsp;&nbsp;<a href="/blog">Blog</a></i></p>

			
        </div>
    </div>	
</div>







