<noscript>
<div class="marker_success">
Please enable Javascript in your browser and then refresh this page!
</div>

</noscript>

<% if flash[:notice] %>
<p><span class="marker_success"><%= flash[:notice] %></span></p>
<% end %>

<div>
    <div class="hero-titles">
        <h1 class="logo">En</h1>
    </div>
</div>

<div class="hero">
    <div class="hero-titles">
        <h1>Encrypt.to</h1>
        <h2>Send Encrypted Messages to 3.5 million PGP users by one click.</h2>
		<h3>Beta version</h3>
    </div>

    <div class="hero-cta">
      <pre class="snippet" data-language="html"><code>&lt;a href=&quot;https://encrypt.to/{your-email}&quot;&gt;Contact Me&lt;/a&gt;</code></pre>

        <p>
            <a class="pure-button pure-button-cta" href="/admin@pgpkey.org">Try now</a>
            <a class="pure-button pure-button-secondary" href="https://github.com/encrypt-to/encrypt.to">View on GitHub</a>
        </p>
    </div>
</div>

<div>	
    <div class="content legal">
        <div class="l-box">
            <h2>How does it work?</h2>
			<p>When your public key is added to a public keyserver open the link: </p>

			<p><span class="snippet">https://encrypt.to/{your-email}</span> or <span class="snippet">https://encrypt.to/{your-key-id}</span></p>

			<p>For example: <a href="/0x5f43f53fb41d959a">encrypt.to/0x5f43f53fb41d959a</a> belongs to <a href="http://pgpkey.org/pks/lookup?op=vindex&search=0x5f43f53fb41d959a&fingerprint=on"> this email</a>.</p>

			<p></p>

            <p style="font-size:small;">
                * If not, upload your public key to a <a href="http://pgpkey.org/">public keyserver</a>.
            </p>
        </div>
    </div>	
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Open Source.</h3>
            <p><%= image_tag "oss.png", :width => 150 %><br>Here is the <a href="https://github.com/encrypt-to/encrypt.to">source code</a>. We are using client side encryption and we can't decrypt your message.</p>

        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>OpenPGP.js</h3>
            <p><%= image_tag "openpgpjs.png", :width => 128 %><br>Encrypt.to is based on <a href="http://openpgpjs.org/">OpenPGP.js</a> a JavaScript implementation of the <a href="http://tools.ietf.org/search/rfc4880">OpenPGP standard</a>.</p>
            
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Privacy in mind.</h3>
            <p><%= image_tag "diaspora.png", :width => 128 %><br>By the way, we are running <a href="https://diasp.eu">Diaspora</a> - a decentralized social networking platform built with your privacy in mind.</p>

        </div>
    </div>
</div>

<br><br><br>

<div>	
    <div class="content">
        <div class="l-box">
            <h3>How to generate a public key?</h3>
			<p>There are many tools like <a href="https://gpgtools.org/">GPGTools</a> for Mac, <a href="https://projects.gnome.org/seahorse/index.html">Seahorse</a> for Linux or <a href="http://www.gpg4win.org/">Gpg4win</a> for Windows.</p>
			
			<p><%= image_tag "gpgtools.png", :height => 50 %><%= image_tag "seahorse.png", :height => 50 %><%= image_tag "gpg4win.png", :height => 50 %></p>
			
        </div>
    </div>	
</div>

<div>	
    <div class="content">
        <div class="l-box">
			<p>© 2013 Encrypt.to | <a href="https://twitter.com/encrypt_to">status</a> | <a href="https://github.com/encrypt-to">source code</a></p>
        </div>
    </div>	
</div>


