<!DOCTYPE html>
<html>
<head>
  <title>Encrypt.to | beta version</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
	
	<div>
	    <div class="hero-titles">
	        <h1 class="logo"><a href="/">En</a></h1>
	    </div>
	</div>
	
	<% if flash[:notice] %>
	<p class="notice"><%= notice %></p>
	<% end %>
	
	<% if flash[:alert] %>
	<p class="alert"><%= alert %></p>
	<% end %>

  <%= yield %>
</body>
</html>
